/* for general styling */
body > * {
    font-family: 'Satoshi', sans-serif;
}

.navbar-nav .nav-link.active {
    background-color: grey;
}

#content {
    margin-top: 40px;    
}

.tr {
    transition: all .2s ease-in-out; 
    cursor: pointer;
}

.tr:hover {
    transform: scale(1.02);
}

.row {
    margin-top: 30px !important;
    border: 1px solid black;
    padding: 40px;
}