/* for general styling */
body > * {
    font-family: 'Satoshi', sans-serif;
}

.navbar-nav .nav-link.active {
    background-color: lightblue;
}

.tr {
    transition: all .2s ease-in-out; 

}

.tr:hover {
    background-color: lightblue;
    transform: scale(1.02);
}