/* for general styling */
body > * {
    font-family: 'Satoshi', sans-serif;
}

.navbar-nav .nav-link.active {
    background-color: grey;
}

#content {
    margin-top: 40px;    
}

.tr {
    transition: all .2s ease-in-out; 
    cursor: pointer;
}

.tr:hover {
    /* background-color: #212529; */
    transform: scale(1.02);
}